StudydeskDesktopApp/Web References/GetTutors/WebServiceGetTutors.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListaTutores">
        <s:complexType />
      </s:element>
      <s:element name="ListaTutoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaTutoresResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListaTutoresSoapIn">
    <wsdl:part name="parameters" element="tns:ListaTutores" />
  </wsdl:message>
  <wsdl:message name="ListaTutoresSoapOut">
    <wsdl:part name="parameters" element="tns:ListaTutoresResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceGetTutorsSoap">
    <wsdl:operation name="ListaTutores">
      <wsdl:input message="tns:ListaTutoresSoapIn" />
      <wsdl:output message="tns:ListaTutoresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceGetTutorsSoap" type="tns:WebServiceGetTutorsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaTutores">
      <soap:operation soapAction="http://tempuri.org/ListaTutores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceGetTutorsSoap12" type="tns:WebServiceGetTutorsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaTutores">
      <soap12:operation soapAction="http://tempuri.org/ListaTutores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceGetTutors">
    <wsdl:port name="WebServiceGetTutorsSoap" binding="tns:WebServiceGetTutorsSoap">
      <soap:address location="https://localhost:44304/WebServiceGetTutors.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceGetTutorsSoap12" binding="tns:WebServiceGetTutorsSoap12">
      <soap12:address location="https://localhost:44304/WebServiceGetTutors.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>