StudydeskDesktopApp/Web References/GetTutors/WebServiceGetTutors.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListaTutores">
        <s:complexType />
      </s:element>
      <s:element name="ListaTutoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaTutoresResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListaTutoresSoapIn">
    <wsdl:part name="parameters" element="tns:ListaTutores" />
  </wsdl:message>
  <wsdl:message name="ListaTutoresSoapOut">
    <wsdl:part name="parameters" element="tns:ListaTutoresResponse" />
  </wsdl:message>
  <wsdl:message name="ListaTutoresAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListaTutoresHttpGetIn" />
  <wsdl:message name="ListaTutoresHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ListaTutoresHttpPostIn" />
  <wsdl:message name="ListaTutoresHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="WebServiceGetTutorsSoap">
    <wsdl:operation name="ListaTutores">
      <wsdl:input message="tns:ListaTutoresSoapIn" />
      <wsdl:output message="tns:ListaTutoresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceGetTutorsHttpGet">
    <wsdl:operation name="ListaTutores">
      <wsdl:input message="tns:ListaTutoresHttpGetIn" />
      <wsdl:output message="tns:ListaTutoresHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceGetTutorsHttpPost">
    <wsdl:operation name="ListaTutores">
      <wsdl:input message="tns:ListaTutoresHttpPostIn" />
      <wsdl:output message="tns:ListaTutoresHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceGetTutorsSoap" type="tns:WebServiceGetTutorsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaTutores">
      <soap:operation soapAction="http://tempuri.org/ListaTutores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListaTutoresAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceGetTutorsSoap12" type="tns:WebServiceGetTutorsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaTutores">
      <soap12:operation soapAction="http://tempuri.org/ListaTutores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListaTutoresAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceGetTutorsHttpGet" type="tns:WebServiceGetTutorsHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ListaTutores">
      <http:operation location="/ListaTutores" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceGetTutorsHttpPost" type="tns:WebServiceGetTutorsHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ListaTutores">
      <http:operation location="/ListaTutores" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceGetTutors">
    <wsdl:port name="WebServiceGetTutorsSoap" binding="tns:WebServiceGetTutorsSoap">
      <soap:address location="https://studydeskv1webservices.azurewebsites.net/WebServiceGetTutors.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceGetTutorsSoap12" binding="tns:WebServiceGetTutorsSoap12">
      <soap12:address location="https://studydeskv1webservices.azurewebsites.net/WebServiceGetTutors.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceGetTutorsHttpGet" binding="tns:WebServiceGetTutorsHttpGet">
      <http:address location="https://studydeskv1webservices.azurewebsites.net/WebServiceGetTutors.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceGetTutorsHttpPost" binding="tns:WebServiceGetTutorsHttpPost">
      <http:address location="https://studydeskv1webservices.azurewebsites.net/WebServiceGetTutors.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>