StudydeskDesktopApp/Web References/GetUniversities/WebServiceGetUniversities.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListaUniversidades">
        <s:complexType />
      </s:element>
      <s:element name="ListaUniversidadesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaUniversidadesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListaUniversidadesSoapIn">
    <wsdl:part name="parameters" element="tns:ListaUniversidades" />
  </wsdl:message>
  <wsdl:message name="ListaUniversidadesSoapOut">
    <wsdl:part name="parameters" element="tns:ListaUniversidadesResponse" />
  </wsdl:message>
  <wsdl:message name="ListaUniversidadesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListaUniversidadesHttpGetIn" />
  <wsdl:message name="ListaUniversidadesHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ListaUniversidadesHttpPostIn" />
  <wsdl:message name="ListaUniversidadesHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="WebServiceGetUniversitiesSoap">
    <wsdl:operation name="ListaUniversidades">
      <wsdl:input message="tns:ListaUniversidadesSoapIn" />
      <wsdl:output message="tns:ListaUniversidadesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceGetUniversitiesHttpGet">
    <wsdl:operation name="ListaUniversidades">
      <wsdl:input message="tns:ListaUniversidadesHttpGetIn" />
      <wsdl:output message="tns:ListaUniversidadesHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceGetUniversitiesHttpPost">
    <wsdl:operation name="ListaUniversidades">
      <wsdl:input message="tns:ListaUniversidadesHttpPostIn" />
      <wsdl:output message="tns:ListaUniversidadesHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceGetUniversitiesSoap" type="tns:WebServiceGetUniversitiesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaUniversidades">
      <soap:operation soapAction="http://tempuri.org/ListaUniversidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListaUniversidadesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceGetUniversitiesSoap12" type="tns:WebServiceGetUniversitiesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaUniversidades">
      <soap12:operation soapAction="http://tempuri.org/ListaUniversidades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListaUniversidadesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceGetUniversitiesHttpGet" type="tns:WebServiceGetUniversitiesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ListaUniversidades">
      <http:operation location="/ListaUniversidades" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceGetUniversitiesHttpPost" type="tns:WebServiceGetUniversitiesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ListaUniversidades">
      <http:operation location="/ListaUniversidades" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceGetUniversities">
    <wsdl:port name="WebServiceGetUniversitiesSoap" binding="tns:WebServiceGetUniversitiesSoap">
      <soap:address location="https://studydeskv1webservices.azurewebsites.net/WebServices/University/WebServiceGetUniversities.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceGetUniversitiesSoap12" binding="tns:WebServiceGetUniversitiesSoap12">
      <soap12:address location="https://studydeskv1webservices.azurewebsites.net/WebServices/University/WebServiceGetUniversities.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceGetUniversitiesHttpGet" binding="tns:WebServiceGetUniversitiesHttpGet">
      <http:address location="https://studydeskv1webservices.azurewebsites.net/WebServices/University/WebServiceGetUniversities.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceGetUniversitiesHttpPost" binding="tns:WebServiceGetUniversitiesHttpPost">
      <http:address location="https://studydeskv1webservices.azurewebsites.net/WebServices/University/WebServiceGetUniversities.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>