StudydeskDesktopApp/Web References/PostTutor/WebServicePostTutor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarTutor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="logo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="priceperhour" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="courseId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarTutorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarTutorResult" type="tns:WsSecurityResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WsSecurityResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponseOfWsSecurity" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseResponseOfWsSecurity" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Resource" type="tns:WsSecurity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WsSecurity" />
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="WsSecurityResponse" nillable="true" type="tns:WsSecurityResponse" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarTutorSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarTutor" />
  </wsdl:message>
  <wsdl:message name="InsertarTutorSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarTutorResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarTutorAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="InsertarTutorHttpGetIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="lastName" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="logo" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="priceperhour" type="s:string" />
    <wsdl:part name="courseId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarTutorHttpGetOut">
    <wsdl:part name="Body" element="tns:WsSecurityResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarTutorHttpPostIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="lastName" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="logo" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="priceperhour" type="s:string" />
    <wsdl:part name="courseId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarTutorHttpPostOut">
    <wsdl:part name="Body" element="tns:WsSecurityResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServicePostTutorSoap">
    <wsdl:operation name="InsertarTutor">
      <wsdl:input message="tns:InsertarTutorSoapIn" />
      <wsdl:output message="tns:InsertarTutorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServicePostTutorHttpGet">
    <wsdl:operation name="InsertarTutor">
      <wsdl:input message="tns:InsertarTutorHttpGetIn" />
      <wsdl:output message="tns:InsertarTutorHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServicePostTutorHttpPost">
    <wsdl:operation name="InsertarTutor">
      <wsdl:input message="tns:InsertarTutorHttpPostIn" />
      <wsdl:output message="tns:InsertarTutorHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServicePostTutorSoap" type="tns:WebServicePostTutorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarTutor">
      <soap:operation soapAction="http://tempuri.org/InsertarTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertarTutorAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicePostTutorSoap12" type="tns:WebServicePostTutorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarTutor">
      <soap12:operation soapAction="http://tempuri.org/InsertarTutor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertarTutorAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicePostTutorHttpGet" type="tns:WebServicePostTutorHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="InsertarTutor">
      <http:operation location="/InsertarTutor" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicePostTutorHttpPost" type="tns:WebServicePostTutorHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="InsertarTutor">
      <http:operation location="/InsertarTutor" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServicePostTutor">
    <wsdl:port name="WebServicePostTutorSoap" binding="tns:WebServicePostTutorSoap">
      <soap:address location="https://studydeskv1webservices.azurewebsites.net/WebServices/Tutor/WebServicePostTutor.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicePostTutorSoap12" binding="tns:WebServicePostTutorSoap12">
      <soap12:address location="https://studydeskv1webservices.azurewebsites.net/WebServices/Tutor/WebServicePostTutor.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicePostTutorHttpGet" binding="tns:WebServicePostTutorHttpGet">
      <http:address location="https://studydeskv1webservices.azurewebsites.net/WebServices/Tutor/WebServicePostTutor.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicePostTutorHttpPost" binding="tns:WebServicePostTutorHttpPost">
      <http:address location="https://studydeskv1webservices.azurewebsites.net/WebServices/Tutor/WebServicePostTutor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>