StudydeskDesktopApp/Web References/GetCourses/WebServiceGetCourses.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListaCursos">
        <s:complexType />
      </s:element>
      <s:element name="ListaCursosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaCursosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListaCursosSoapIn">
    <wsdl:part name="parameters" element="tns:ListaCursos" />
  </wsdl:message>
  <wsdl:message name="ListaCursosSoapOut">
    <wsdl:part name="parameters" element="tns:ListaCursosResponse" />
  </wsdl:message>
  <wsdl:message name="ListaCursosAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListaCursosHttpGetIn" />
  <wsdl:message name="ListaCursosHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ListaCursosHttpPostIn" />
  <wsdl:message name="ListaCursosHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="WebServiceGetCoursesSoap">
    <wsdl:operation name="ListaCursos">
      <wsdl:input message="tns:ListaCursosSoapIn" />
      <wsdl:output message="tns:ListaCursosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceGetCoursesHttpGet">
    <wsdl:operation name="ListaCursos">
      <wsdl:input message="tns:ListaCursosHttpGetIn" />
      <wsdl:output message="tns:ListaCursosHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceGetCoursesHttpPost">
    <wsdl:operation name="ListaCursos">
      <wsdl:input message="tns:ListaCursosHttpPostIn" />
      <wsdl:output message="tns:ListaCursosHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceGetCoursesSoap" type="tns:WebServiceGetCoursesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaCursos">
      <soap:operation soapAction="http://tempuri.org/ListaCursos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListaCursosAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceGetCoursesSoap12" type="tns:WebServiceGetCoursesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaCursos">
      <soap12:operation soapAction="http://tempuri.org/ListaCursos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListaCursosAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceGetCoursesHttpGet" type="tns:WebServiceGetCoursesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ListaCursos">
      <http:operation location="/ListaCursos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceGetCoursesHttpPost" type="tns:WebServiceGetCoursesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ListaCursos">
      <http:operation location="/ListaCursos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceGetCourses">
    <wsdl:port name="WebServiceGetCoursesSoap" binding="tns:WebServiceGetCoursesSoap">
      <soap:address location="https://studydeskv1webservices.azurewebsites.net/WebServices/Course/WebServiceGetCourses.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceGetCoursesSoap12" binding="tns:WebServiceGetCoursesSoap12">
      <soap12:address location="https://studydeskv1webservices.azurewebsites.net/WebServices/Course/WebServiceGetCourses.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceGetCoursesHttpGet" binding="tns:WebServiceGetCoursesHttpGet">
      <http:address location="https://studydeskv1webservices.azurewebsites.net/WebServices/Course/WebServiceGetCourses.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceGetCoursesHttpPost" binding="tns:WebServiceGetCoursesHttpPost">
      <http:address location="https://studydeskv1webservices.azurewebsites.net/WebServices/Course/WebServiceGetCourses.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>