StudydeskDesktopApp/Web References/PostTutors/WebServicePostTutor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarTutor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="logo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="priceperhour" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="courseId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarTutorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarTutorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarTutorSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarTutor" />
  </wsdl:message>
  <wsdl:message name="InsertarTutorSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarTutorResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServicePostTutorSoap">
    <wsdl:operation name="InsertarTutor">
      <wsdl:input message="tns:InsertarTutorSoapIn" />
      <wsdl:output message="tns:InsertarTutorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServicePostTutorSoap" type="tns:WebServicePostTutorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarTutor">
      <soap:operation soapAction="http://tempuri.org/InsertarTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicePostTutorSoap12" type="tns:WebServicePostTutorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarTutor">
      <soap12:operation soapAction="http://tempuri.org/InsertarTutor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServicePostTutor">
    <wsdl:port name="WebServicePostTutorSoap" binding="tns:WebServicePostTutorSoap">
      <soap:address location="https://localhost:44304/WebServicePostTutor.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicePostTutorSoap12" binding="tns:WebServicePostTutorSoap12">
      <soap12:address location="https://localhost:44304/WebServicePostTutor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>