StudydeskDesktopApp/Web References/GetStudentById/WebServiceGetStudentById.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RetornarUsuarioEstudiantePorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarUsuarioEstudiantePorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarUsuarioEstudiantePorIdResult" type="tns:StudentResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StudentResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponseOfStudent" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseResponseOfStudent" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Resource" type="tns:Student" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Student">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Logo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="isTutor" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CareerId" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetornarUsuarioEstudiantePorIdSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarUsuarioEstudiantePorId" />
  </wsdl:message>
  <wsdl:message name="RetornarUsuarioEstudiantePorIdSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarUsuarioEstudiantePorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceGetStudentByIdSoap">
    <wsdl:operation name="RetornarUsuarioEstudiantePorId">
      <wsdl:input message="tns:RetornarUsuarioEstudiantePorIdSoapIn" />
      <wsdl:output message="tns:RetornarUsuarioEstudiantePorIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceGetStudentByIdSoap" type="tns:WebServiceGetStudentByIdSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornarUsuarioEstudiantePorId">
      <soap:operation soapAction="http://tempuri.org/RetornarUsuarioEstudiantePorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceGetStudentByIdSoap12" type="tns:WebServiceGetStudentByIdSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornarUsuarioEstudiantePorId">
      <soap12:operation soapAction="http://tempuri.org/RetornarUsuarioEstudiantePorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceGetStudentById">
    <wsdl:port name="WebServiceGetStudentByIdSoap" binding="tns:WebServiceGetStudentByIdSoap">
      <soap:address location="https://localhost:44304/WebServiceGetStudentById.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceGetStudentByIdSoap12" binding="tns:WebServiceGetStudentByIdSoap12">
      <soap12:address location="https://localhost:44304/WebServiceGetStudentById.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>