StudydeskDesktopApp/Web References/PutTutor/WebServiceUpdateTutor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ActualizarTutor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="logo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="priceperhour" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="courseId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarTutorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarTutorResult" type="tns:WsSecurityResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WsSecurityResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponseOfWsSecurity" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseResponseOfWsSecurity" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Resource" type="tns:WsSecurity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WsSecurity" />
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="WsSecurityResponse" nillable="true" type="tns:WsSecurityResponse" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ActualizarTutorSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarTutor" />
  </wsdl:message>
  <wsdl:message name="ActualizarTutorSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarTutorResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarTutorAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ActualizarTutorHttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="lastName" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="logo" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="priceperhour" type="s:string" />
    <wsdl:part name="courseId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarTutorHttpGetOut">
    <wsdl:part name="Body" element="tns:WsSecurityResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarTutorHttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="lastName" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="logo" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="priceperhour" type="s:string" />
    <wsdl:part name="courseId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarTutorHttpPostOut">
    <wsdl:part name="Body" element="tns:WsSecurityResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceUpdateTutorSoap">
    <wsdl:operation name="ActualizarTutor">
      <wsdl:input message="tns:ActualizarTutorSoapIn" />
      <wsdl:output message="tns:ActualizarTutorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceUpdateTutorHttpGet">
    <wsdl:operation name="ActualizarTutor">
      <wsdl:input message="tns:ActualizarTutorHttpGetIn" />
      <wsdl:output message="tns:ActualizarTutorHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceUpdateTutorHttpPost">
    <wsdl:operation name="ActualizarTutor">
      <wsdl:input message="tns:ActualizarTutorHttpPostIn" />
      <wsdl:output message="tns:ActualizarTutorHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceUpdateTutorSoap" type="tns:WebServiceUpdateTutorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActualizarTutor">
      <soap:operation soapAction="http://tempuri.org/ActualizarTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ActualizarTutorAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceUpdateTutorSoap12" type="tns:WebServiceUpdateTutorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActualizarTutor">
      <soap12:operation soapAction="http://tempuri.org/ActualizarTutor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ActualizarTutorAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceUpdateTutorHttpGet" type="tns:WebServiceUpdateTutorHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ActualizarTutor">
      <http:operation location="/ActualizarTutor" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceUpdateTutorHttpPost" type="tns:WebServiceUpdateTutorHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ActualizarTutor">
      <http:operation location="/ActualizarTutor" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceUpdateTutor">
    <wsdl:port name="WebServiceUpdateTutorSoap" binding="tns:WebServiceUpdateTutorSoap">
      <soap:address location="https://studydeskv1webservices.azurewebsites.net/WebServiceUpdateTutor.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceUpdateTutorSoap12" binding="tns:WebServiceUpdateTutorSoap12">
      <soap12:address location="https://studydeskv1webservices.azurewebsites.net/WebServiceUpdateTutor.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceUpdateTutorHttpGet" binding="tns:WebServiceUpdateTutorHttpGet">
      <http:address location="https://studydeskv1webservices.azurewebsites.net/WebServiceUpdateTutor.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceUpdateTutorHttpPost" binding="tns:WebServiceUpdateTutorHttpPost">
      <http:address location="https://studydeskv1webservices.azurewebsites.net/WebServiceUpdateTutor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>